body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#order-data {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}